*  {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    position: absolute;
}

header img {
    width: 100%;
}

/* .topElement-container{
    width: 33%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 3.5rem;
} */
/* .topElement-container img {
    width: 100%;
} */

.topElement-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 2rem;
    height: 10vh;
}

.topElement-container button{
    border: none;
    outline: none;
    background: none;
}

.topElement-container img {
    /* max-width: 30%; */
    width: 50%;
    /* Adjust as needed */
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 9999;
    background: none;
    outline: none;
    border: none;
}

.topElement-container span{
    color: white;
    /* font-size: ; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 8.5rem;
    font-size: 11px;
}

.guide-button{
    width: 80%;
    /* height: 20%; */
}

.guide-button button{
    width: 100%;
}

.closeBtn{
    display: flex;
    justify-content: center;
    width: 15%;
    align-items: center;
    position: absolute;
    left: 82vw;
    height: 15vh;
    background: none;
    outline: none;
    border: none;
    bottom: 28rem;
    top: 9rem;
    z-index: 1;
}

.closeBtnLeaderBoard{
    display: flex;
    justify-content: center;
    width: 15%;
    align-items: center;
    position: absolute;
    left: 82vw;
    height: 15vh;
    background: none;
    outline: none;
    border: none;
    bottom: 28rem;
    top: 3rem;
    z-index: 1;
}

.user-talent-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6rem;
    width: 70%;
    margin: 0 auto;
    gap: 3vw;
}

.user-talent-btn button{
    border: none;
    background: none;
    outline: none;
}

.user-talent-btn img{
    width: 100%;
}

.guide-character{
    /* width: 70%; */
    /* height: 10vh; */
    position: absolute;
    /* bottom: 0; */
    display: flex;
    gap: 1rem;
    justify-content: center;
    /* align-items: center; */
    top: 7rem;
    /* left: 1rem; */
}

.guide-banner{
    width: 70%;
    height: 10vh;
}

.guide-character{
    width: 90%;
    height: 10vh;
}

/* .guide-banner img{
    width: 100%;
} */

/* .guide-banner { */
    /* display: flex; */
    /* justify-content: center; Align images horizontally */
    /* align-items: flex-start; Align images to the top */
/* } */

/* .banner-images {
    display: flex;
    width: 30%;
    height: 5vh;
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;

}

.banner-images img{
    width: 100%;
} */

.leaderBoard{
    background-image: url('./Leaderboard/leaderboard-bg1.png');
    /* background: url(../img/backgrounds/infobg.png) center/100% 100% no-repeat; */
    /* background-size: 100% 100%; */
    background-size: contain;
    width: 88vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    /* top: 6rem; */
}

.leaderboardButton{
    width: 80%;
    /* height: 20%; */
}

.leaderboardButton button{
    width: 100%;
}

.userTab{
    width: 40%;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    color: white;
}

.talentTab{
   width: 40%;
   margin-top: 1rem; 
    display: flex;
    justify-content: center;
    color: white;
}

.reward-tile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 5.5rem;
    /* padding-inline: 2vw; */
}

.reward-tile-container img{
    width: 15%;
    /* position: relative; */
    top: 7rem;
    /* margin: 0 auto; */
}

.character-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 9rem;
    height: 14vh;
    /* padding-inline: 4vw; */
}

.character-container img{
    width: 15%;
    /* margin: 0 auto; */
}

.chances-manual-front-container{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 1;
    height: 14vh;  */
    /* z-index: -1000; */
    position: absolute;
    bottom: -3rem;
    /* top: ; */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    order: -1;
}

.chances-manual-front-container img{
    width: 28%;
    height: 10vh;
    /* margin: 0 auto; */
}

.frontPosition {
    width: 28% !important;
    height: 30vh !important;
    /* margin: 0 auto; */
}

.jump{
    width: 40%;
    height: 4vh;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -6rem;
    left: 6.5rem;
}

.jump img{
    width: 100%;
    /* height: 5.5vh; */
}

.left-right-container{
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    position: absolute;
    width:100%;
    height: 5vh;
    top: 27rem;
    z-index: 1000;
    order: 1;
}

.left-right-container img{
    width: 100%;
}

.guide{
    background-image: url('./Guide/popup-bg1.png');
    /* background: url(../img/backgrounds/infobg.png) center/100% 100% no-repeat; */
    /* background-size: 100% 100%; */
    background-size: contain;
    width: 88vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    top: 6rem;
}

.display{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    position: absolute;
    top: 5rem;
    left: -1rem;
    gap: 3rem;
    top: 3rem;
}

.event-gifts{
    width: 50%;
    height: 20%;
    position: absolute;
    left: 4.5rem;
    top: 3rem;
}

.event-gifts img{
    width: 100%;
}


.first-display{
    width: 100%;
}

.second-display{
    width: 100%;
    position: relative;
    top: -3rem;
}

.treasure-warrior{
    width: 40%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 3rem;
    top: 1rem;
    gap: 3rem;
    /* margin: 0 auto; */
}

.treasure-warrior img{
    width: 100%;
}

.game-party{
    width: 40%;
    position: relative;
    display: flex;
    gap: 3rem;
    top: 1rem;
    left: 3rem;
}

.game-party img{
    width: 100%;
}

.event-details{
    /* width: 80%; */
    height: 32vh;
    position: relative;
    bottom: 6rem;
    /* top: 4rem; */
}

.event-details img{
    width: 100%;
}

/* .guide img{
    width: 20%;
    height: 4vh;
    position: relative;
    left: -4vw;
} */

/* .jump img {
    width: 200px; 
    height: auto;
} */
/* .first-display {
    position: relative;
}

.first-display img {
    position: absolute;
    top: 0;
}

.first-display .warrior {
    left: 50%;
    transform: translateX(-50%);
}

.first-display .treasure-box {
    right: 50%;
    transform: translateX(50%);
} */
