*  {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    position: absolute;
}

header img {
    width: 100%;
}

/* .topElement-container{
    width: 33%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 3.5rem;
} */
/* .topElement-container img {
    width: 100%;
} */

.topElement-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 2rem;
    height: 10vh;
}

.topElement-container button{
    border: none;
    outline: none;
    background: none;
}

.topElement-container img {
    /* max-width: 30%; */
    width: 50%;
    /* Adjust as needed */
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 9999;
    background: none;
    outline: none;
    border: none;
}

.topElement-container span{
    color: white;
    /* font-size: ; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 8.5rem;
    font-size: 11px;
}

.guide-button{
    width: 80%;
    /* height: 20%; */
}

.guide-button button{
    width: 100%;
}

.closeBtn{
    display: flex;
    justify-content: center;
    width: 15%;
    align-items: center;
    position: relative;
    left: 76vw;
    /* height: 15vh; */
    background: none;
    outline: none;
    border: none;
    bottom: 28rem;
}

.guide-banner{
    position: absolute;
    /* width: 100%; */
    /* height: 10vh; */
    position: absolute;
    top: 3rem;
}

.guide-banner img{
    width: 100%;
}

.leaderboardButton{
    width: 80%;
    /* height: 20%; */
}

.leaderboardButton button{
    width: 100%;
}

.reward-tile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 5.5rem;
    /* padding-inline: 2vw; */
}

.reward-tile-container img{
    width: 15%;
    /* position: relative; */
    top: 7rem;
    /* margin: 0 auto; */
}

.character-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 9rem;
    height: 14vh;
    /* padding-inline: 4vw; */
}

.character-container img{
    width: 15%;
    /* margin: 0 auto; */
}

.chances-manual-front-container{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 1;
    height: 14vh;  */
    /* z-index: -1000; */
    position: absolute;
    bottom: -3rem;
    /* top: ; */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    order: -1;
}

.chances-manual-front-container img{
    width: 28%;
    height: 10vh;
    /* margin: 0 auto; */
}

.frontPosition {
    width: 28% !important;
    height: 30vh !important;
    /* margin: 0 auto; */
}

.jump{
    width: 40%;
    height: 4vh;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -6rem;
    left: 6.5rem;
}

.jump img{
    width: 100%;
    /* height: 5.5vh; */
}

.left-right-container{
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    position: absolute;
    width:100%;
    height: 5vh;
    top: 27rem;
    z-index: 1000;
    order: 1;
}

.left-right-container img{
    width: 100%;
}

.guide{
    background-image: url('./Guide/popup-bg1.png');
    /* background: url(../img/backgrounds/infobg.png) center/100% 100% no-repeat; */
    /* background-size: 100% 100%; */
    background-size: contain;
    width: 88vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    top: 2rem;
}

/* .guide img{
    width: 20%;
    height: 4vh;
    position: relative;
    left: -4vw;
} */

/* .jump img {
    width: 200px; 
    height: auto;
} */
